<div class="row">

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        3D Donut
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="donutThreeDChart"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        3D Pie
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="pieChart"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Line Chart
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>






  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Column, line and pie
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="columnLinePieChart"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Multiple Axis Chart
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="multipleAxisChart"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>




  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Bar Chart
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="packedBubbleChart"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Stacked Bar Chart
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="stackedBarChart"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Column, line and pie
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="columnNegativeValues"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Horiontal Stacked Bar Chart
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="bubbleChart"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Grouped Bar Chart
      </nb-card-header>
      <nb-card-body>
        <highcharts-chart [Highcharts]="highcharts" [options]="threeDColumn"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </nb-card-body>
    </nb-card>
  </div>

</div>