<div class="row">

  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        Draw Image
      </nb-card-header>
      <nb-card-body>

        <button _ngcontent-ape-c24="" hero="" nbbutton="" _nghost-ape-c16="" ng-reflect-status="info" ng-reflect-hero=""
          class="appearance-hero size-medium status-info shape-rectangle ng-star-inserted transitions"
          aria-disabled="false" tabindex="0" (click)="toCanvas()"> Download </button>

        <div id='download' class="mt-15">
          <app-canvas></app-canvas>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>